/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 15px;
}
p {
    line-height: 2em; /* Aggiungi spaziatura tra le righe (puoi regolare il valore) */
    margin-bottom: 10px;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #87CEFA;
}

section {
    margin-bottom: 30px;
    position: relative;
    background: url('path/image.jpg') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    padding: 10px;
    border-radius: 40px;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    z-index: -1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

nav ul li {
    display: block;
    margin-right: 10px;
}

nav li {
    display: block; /* Display list items vertically with "block", horizontally "inline" */
    margin-right: 10px; /* Add space between list items */
}

footer {
    text-align: center;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 15px;
}

/* Additional styling or decoration for the footer */
footer p {
    margin: 0; /* Remove default margin for the paragraph */
    font-weight: bold; /* Make the text bold */
}


