/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Bulleted List Styles */
ul,
ul ul {
    list-style-type: disc; /* Use 'disc' for filled bullets */
    padding-left: 20px;
}

ul li,
ul ul li {
    margin-bottom: 8px;
}
