/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #fff;
}

section {
    margin-bottom: 30px;
    position: relative;
    background: url('path/to/your/image.jpg') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    padding: 20px;
    border-radius: 10px;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0.1, 0.1, 0, 0.5);
    border-radius: 10px;
    z-index: -1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

/*
footer {
   
    font-size: 10px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    content: "Copyright © 2024 Illya Klyusko";
}
*/

footer::before {
    content: "© 2024 Illya Klyusko";
    display: block;
    text-align: center;
    color: #fff;
    background-color: #007BFF;
    padding: 10px;
    font-size: 16px; /* Adjust the font size as needed */
}
